body{
    background-color: aquamarine;
}

.main{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    
}

.div1 , .div2 , .div3{
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}