*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    
}

.main{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    
}
.navbar{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 20px;
    
}


.div1 , .div2 , .div3{
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-soft-reste-commit-code{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.soft-commit{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(151, 151, 19);
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;

}

.soft-commit p{
    font-size: 18px;
    line-height: 30px;
}

.hard-commit{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(15, 6, 66);
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;

}

.hard-commit p{
    font-size: 18px;
    line-height: 30px;
}