*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    
}

.main{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    
}
.navbar{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 20px;
    
}


.div1 , .div2 , .div3{
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-soft-reste-commit-code{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.soft-commit{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(151, 151, 19);
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    margin: 15px;

}

.soft-commit p{
    font-size: 18px;
    line-height: 30px;
}

.hard-commit{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(15, 6, 66);
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;

}

.hard-commit p{
    font-size: 18px;
    line-height: 30px;
}

/* همه ی دیو ها داخل این کلاس قرار داره */
.all-div-main{
    display: flex;
    flex-wrap: wrap;
}
.new-branch{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(66, 13, 34);
    box-shadow: 0 0 20px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
}

.confilict{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(173, 50, 100);
    box-shadow: 0 0 20px black;
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
}

.gitignore{
    max-width:400px ;
    min-height:200px ;
    background-color: rgb(50, 173, 70);
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
    
}
.push-project-to-github{
    max-width:700px ;
    min-height:200px ;
    background-color: darkmagenta;
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}


.contect-to-onther-porject{
    max-width:600px ;
    min-height:200px ;
    background-color: rgb(57, 76, 110);
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}

.clone-repository{
    max-width:400px ;
    height:400px ;
    background-color: darkred;
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}

.fethc-changes-in-repo{
    max-width:400px ;
    height:400px ;
    background-color: darkblue;
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}
.pull-request-in-repository-into-github{
    max-width:400px ;
    min-height:400px ;
    background-color: darkgoldenrod;
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}
.fuork{
    max-width:400px ;
    min-height:400px ;
    background-color: rgb(3, 61, 8);
    box-shadow: 0 0 10px rgb(19, 16, 16);
    border-radius: 6px;
    padding: 20px;
    text-align: end;
    color: white;
    margin: 15px;
  line-height: 30px;
  font-size: 18px;
}
